[Unit]
Description=FastApi Social Network Application
After=network.Target

[Service]
User=strooper
Group=strooper
WorkingDirectory=/home/strooper/app/src/
Environment="PATH=/home/strooper/app/venv/bin/"
EnvironmentFile=/home/strooper/.env
ExecStart=/home/strooper/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target